:root{
    --primary-color: #336b87;
    --secondary-color : #874733;
    --color: white;
    }

    * {
        margin: 0;
        padding: 0;
    box-sizing : border-box;
    }

    html, body {
        height: 100%;
       
    }



body{
    background-color: var(--primary-color);
  
   
}

header img {
    width : 10%;
    margin: 5px;

}

ul{display: flex;
   
    align-items: center;



}

main{
  height: 65%;
    
   
}

header li {

  margin : 32px;
    border : 1px solid var(--secondary-color);
    border-radius : 5px;
    padding : 8px;
    background-color: var(--secondary-color) ;
    color: white;
}

li{
    display : flex;
   align-items: flex-end;
}

h1{
text-align: center;
color : white;
padding : 35px 0;
font-size: 4rem;
}

h2{
  
    color: white;
    text-align: center;
    position : absolute;
    top : 10px;
    
}
nav{
    height: 10%;
    display : flex;
    justify-content : space-between;
}

footer{
    height: 15%;
    width: 100%;
    background-color: var(--secondary-color);
  margin : 0;
  padding : 20px 0;
}

.mestodolist {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid var(--secondary-color);
    background-color: #874733;
    padding: 8%;
    gap : 8px;
    margin-left:20%;
  border-radius: 8px;
  position : relative;
}

.affichagetodolist {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid var(--secondary-color); 
    background-color: var(--secondary-color);
    padding: 8%;
    gap: 8px;
 border-radius: 8px;
 position : relative;
}

.container{
    display : flex;
    justify-content: space-around;
    align-items : flex-start;
    
    
   
}

.button{
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    cursor : pointer;
    gap:8px;
}

.modifier

{
    background-color: white;
    position:absolute;
bottom : 10px;
left:10px;
}

.ajout

{
    background-color: white;
    position:absolute;
    bottom : 10px;
    right:10px;
}

#titremestodolist{
   margin : 0;
   padding : 0;
}

#my-list{
    display : flex;
    flex-direction: column;
    
}
