@font-face {
	font-family: "Quicksans";
	src: url("Quicksand-VariableFont_wght.ttf");
}

body {
	font-family: "Quicksand-VariableFont_wght.ttf", sans-serif;
}

header nav {
    @media screen and (min-width: 992px) {
display: flex;
justify-content: space-between;
align-items: center;
}}

main article {
    @media screen and (min-width: 992px) {
		display: block;
        
}}


